[user]
	name = Stefan Geneshky
	email = sge@pobox.com

[alias]
    lo = log --oneline
    dt = difftool
    dtc = difftool --cached
    st = status
    ll = pull
    ca = commit -av
    co = checkout
    mas = checkout master

[diff]
    tool = vimdiff
