[user]
	name = Stefan Geneshky
	email = stefan.geneshky@projecticeland.net

[alias]
    lo = log --oneline
    dt = difftool
    dtc = difftool --cached
    st = status
    ll = pull
    ca = commit -av
    co = checkout
    off = checkout master-offcycle
    mas = checkout master
    dev = checkout sge/GEM-10086

[diff]
    tool = vimdiff
