[core]
  pager = delta

[user]
	name = Stefan Geneshky
	email = sge@pobox.com

[alias]
  lo = log --oneline
  st = status
  ll = pull
  ca = commit -av
  co = checkout
  fe = fetch --prune origin
  gr = log --graph --oneline

[push]
	default = simple

[delta]
  syntax-theme = Monokai Extended
  plus-color = "#012800"
  minus-color = "#340001"
  side-by-side = true
  line-numbers = true

[interactive]
  diffFilter = delta --color-only
